* {
  font-family: "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
  --bg: #071024;
  --card: #0f1724;
  --muted: #98a0b3;
  --accent: #7c5cff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1d;
  color: #f5f5dc;
  margin: 0;
  height: 100%;
  background: linear-gradient(180deg, var(--bg), #05040a);
  color: #e6eef8;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  #grid {
    perspective: 1000px;
  }
}
header {
  .nav-container {
    .profile-container {
      display: flex;
      text-decoration: none;
      .logo {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom right, #a855f7, #4f46e5);
        border-radius: 0.375rem;
        color: #fff;
      }
      .name-field {
        color: rgb(203 213 225);
      }
    }
  }
}
